# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
tsconfig.vitest-temp.json

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
**/*.env*

# DB
**/migrations

# turbo
.turbo

#editor
.vscode/settings.json

resources.txt

#dist
dist

#local scripts
**/scripts/local